<h1 align="center">Palvelun kuvaus</h1>
<p>
 <h2 align="center">
 <a href="http://ajoneuvoforum.fi/">Ajoneuvoforum</a> on palvelu, joka on tarkoitettu yhdistämään niin ajoneuvojen myynnistä kuin ostamisesta kiinnostuneet myyjät ja ostajat samaan palveluun.
<div><div>
 Palvelun tarkoituksena on tarjota käyttäjille kokonaisvaltaisia ratkaisuja vastaamaan heidän tarpeidensa vaatimuksia.  
</h2> 
</p>

